.form-container {
  width: clamp(300px, 90%, 650px);
}

.app {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 5rem;
  min-height: 80vh;
}

.home-page-container {
  width: 90vw;
  max-width: 500px;
}

.pie {
  height: 200px;
  margin-bottom: 3rem;
}

.bar-container {
  background-color: #30115e;
  width: 100%;
  height: 15px;
}

.bar-element:hover {
  cursor: pointer;
}

.bar-hover-container {
  position: absolute;
  left: 0px;
  top: 65px;
  z-index: 999;
  width: fit-content;
}

@media (max-width: 1200px) {
  .pie-chart-button {
    margin-top: 1rem;
  }
}
