.form-container {
  width: clamp(300px, 90%, 650px);
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-container {
  width: 90vw;
  max-width: 500px;
}
